@using ProyectoMVCEF.Models
@model List<EMP>
@{
    ViewBag.Title = "SeleccionMultiple";
}
@{ 
    List<DEPT> departamentos = ViewBag.Departamentos;
}

<h2>SeleccionMultiple</h2>

<form method="post">
    <div>
        <label>Departamentos: </label>
        <select name="departamento" class="form-control" size="4" multiple>
            @foreach (DEPT dept in departamentos) {
                <option value="@dept.DEPT_NO">@dept.DNOMBRE</option>
            }
        </select>
        <button type="submit" class="btn btn-success">Mostrar empleados</button>
    </div>
</form>
@if (Model != null) {
<table class="table table-hover">
    <tr>
        <th>APELLIDO</th>
        <th>OFICIO</th>
        <th>DEPARTAMENTO</th>
    </tr>
    @foreach (EMP emp in Model) {
        <tr>
            <td>@emp.APELLIDO</td>
            <td>@emp.OFICIO</td>
            <td>@emp.DEPT_NO</td>
        </tr>
    }
</table>
}
