@using ProyectoMVCEF.Models
@model Persona
@{
    ViewBag.Title = "InsertarPersona";
}

<h2>Insertar Persona</h2>

@using (Html.BeginForm()) {
    Html.ValidationSummary(true);
<div>
    @Html.LabelFor(z => z.Nombre)
    @Html.EditorFor(z => z.Nombre)
    @Html.ValidationMessageFor(z => z.Nombre)
</div>
<div>
    @Html.LabelFor(z => z.Apellido)
    @Html.EditorFor(z => z.Apellido)
    @Html.ValidationMessageFor(z => z.Apellido)
</div>
<div>
    @Html.LabelFor(z => z.Email)
    @Html.EditorFor(z => z.Email)
    @Html.ValidationMessageFor(z => z.Email)
</div>
<div>
    @Html.LabelFor(z => z.FechaNacimiento)
    @Html.EditorFor(z => z.FechaNacimiento)
    @Html.ValidationMessageFor(z => z.FechaNacimiento)
</div>
<div>
    @Html.LabelFor(z => z.Password)
    @Html.EditorFor(z => z.Password)
    @Html.ValidationMessageFor(z => z.Password)
</div>
<div>
    @Html.LabelFor(z => z.RepetirPass)
    @Html.EditorFor(z => z.RepetirPass)
    @Html.ValidationMessageFor(z => z.RepetirPass)
</div>
<div>
    <button type="submit" class="btn btn-success">Guardar datos</button>
</div>
}