
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>
        @Html.ActionLink("Ir a SumarNumeros", "SumarNumeros", "Practicas")
    </li>
    <li>
        @Html.ActionLink("Ir a NumeroDoble", "NumeroDoble", "Practicas")
    </li>
    <li>
        @Html.ActionLink("Ir a TablaMultiplicar", "TablaMultiplicar", "Practicas")
    </li>
    <li>
        @Html.ActionLink("Ir a TablaMultiplicarObjeto", "TablaMultiplicarObjeto", "Practicas")
    </li>
    <li>
        @Html.ActionLink("Ir a TablaMultiplicarHTML", "TablaMultiplicarHTML", "Practicas")
    </li>
    <li>
        @Html.ActionLink("Ir a VideosYouTube", "VideosYouTube", "Practicas")
    </li>
    <li>
        @Html.ActionLink("Ir a ListaVideosYouTube", "ListaVideosYouTube", "Practicas")
    </li>
</ul>